/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit';
}

/*** HEADER ***/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 4rem;
    padding: 0 3rem;

    background: #2B2A2B;
    color: #fff;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo>span {
    font-weight: 200;
    font-size: 1.5rem;
}

/* Navbar */
nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

nav>ul>li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

/* Nav links */
nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9rem;
}

/* Phone and login btn */
.phone-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Phone button */
.phone-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

/* Login btn */
.login-btn {
    font-size: 0.9rem;
    padding: 0.75rem 1.5rem;
    background: #515051;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Cart button */
.cart-btn {
    cursor: pointer;
}

/*** HERO ***/

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 3rem 2.5rem;

    background: rgba(227, 222, 215, 0.3);
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

/* Hero content container */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.hero-content>p:first-child {
    color: #2A5B45;
    font-weight: 600;
}

.hero-content>h1 {
    color: #000000;
    font-weight: 600;
    font-size: 2.5rem;
}

.hero-content>p:nth-of-type(2) {
    color: #111827;
    font-size: 0.8rem;
}

/* Hero buttons container */
.hero-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Hero buttons */
.hero-btn-container>button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn-container>button:first-child {
    background-color: #1F1815;
    color: #fff;
}

.hero-btn-container>button:last-child {
    background-color: #2A5B45;
    color: #fff;
}

/* Hero img */
.hero-img-container {
    max-width: 600px;
}
.hero-img-container > img {
    
    border-radius: 20px;
}

/*** INFO-CARDS SECTION ***/

.info-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    width: 100%;
    padding: 3rem 9rem;
}

.info-cards-section>h2 {
    color: #000;
    font-weight: 400;
    font-size: 1.5rem;
}

/* Cards */
.info-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 316px;
    height: 232px;
    padding: 1.5rem;

    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
}

/* Card icons */
.info-card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    background: #2A5B45;
    border-radius: 20px;
}

/* Cards text */
.info-card>h3 {
    color: #2B2A2B;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

.info-card>p {
    color: #111827;
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
}