/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit';
}

/*** HEADER ***/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 4rem;
    padding: 0 3rem;

    background: #2B2A2B;
    color: #fff;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo>span {
    font-weight: 200;
    font-size: 23.45px;
}

/* Navbar */
nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

nav>ul>li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

nav>ul>li:hover {
    background-color: #515051;
}

/* Nav links */
nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

/* Phone and login btn */
.phone-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Phone button */
.phone-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

/* Login btn */
.login-btn {
    font-size: 14px;
    padding: 0.75rem 1.5rem;
    background: #515051;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*** HERO ***/

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 3rem 2.5rem;

    background: rgba(227, 222, 215, 0.3);
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Hero content container */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.hero-content>p:first-child {
    color: #2A5B45;
    font-weight: 600;
}

.hero-content>h1 {
    color: #000000;
    font-weight: 600;
    font-size: 2.5rem;
}

.hero-content>p:nth-of-type(2) {
    color: #111827;
    font-size: 0.8rem;
}

/* Hero buttons container */
.hero-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Hero buttons */
.hero-btn-container>button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn-container>button:first-child {
    background-color: #1F1815;
    color: #fff;
}

.hero-btn-container>button:last-child {
    background-color: #2A5B45;
    color: #fff;
}

/* Hero img */
.hero-img-container {
    width: 70%;
    max-width: 600px;
}

.hero-img-container>img {
    width: 100%;
    border-radius: 20px;
}

/*** INFO-CARDS SECTION ***/

.info-cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    width: 100%;
    padding: 3rem 1.5rem;

    background-image: url('../images/img/coffee_background.jpg');
    background-size: cover;
    background-position: center;
}

.info-cards-section>h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
}

/* Cards */
.info-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 316px;
    height: 232px;
    padding: 1.5rem;

    background: #FFFFFF;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
}

/* Card icons */
.info-card-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;
    height: 4rem;

    background: #2A5B45;
    border-radius: 20px;
}

/* Cards text */
.info-card>h3 {
    color: #2B2A2B;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

.info-card>p {
    color: #111827;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

/*** PRODUCTS SECTION ***/

.products-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
}

.products-section>h2 {
    color: #2A5B45;
    font-weight: 500;
    font-size: 1.5rem;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

/* Product cards */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    width: 282px;
    height: 391px;

    background-color: #fff;
    border: 1px solid #E3DED7;
    border-radius: 8px;
}

.product-card:hover {
    background-color: #F7F5F3;
}

.product-card:hover>button {
    background-color: #2A5B45;
}

.product-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.product-card-info>p:first-child {
    color: #000000;
    font-weight: 600;
    font-size: 0.75rem;
}

.product-card-info>p:last-child {
    color: #000000;
    font-weight: 400;
    font-size: 0.75rem;
}

.product-card>button {
    padding: 0.5rem;
    background-color: rgba(42, 91, 69, 0.7);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 0.75rem;
    cursor: pointer;
}

.products-section>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}

/* Product card when coffee unavaiable */
.coffee-unavaiable {
    opacity: 0.5;
}
.coffee-unavaiable > button {
    background-color: #E3DED7;
}
.coffee-unavaiable:hover {
    background-color: #fff;
}
.coffee-unavaiable:hover > button {
    background-color: #E3DED7;
    cursor: auto;
}


/*** FAQ SECTION ***/

.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    padding: 3rem 2.5rem;
    background-color: #2A5B45;
}

.faq-section>h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* FAQ cards */

.faq-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 668px;
    padding: 1.5rem;

    background-color: #F7F5F3;
    border-radius: 10px;
}

.faq-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.faq-card-title>h3 {
    color: #2B2A2B;
    font-weight: 600;
    font-size: 1.2rem;
}

.faq-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.faq-card-info>p {
    color: #2B2A2B;
    font-weight: 400;
    font-size: 0.75rem;
}

.faq-card-info>.faq-divider {
    width: 100%;
    height: 1px;
    background-color: #E3DED7;
}

/* The chevrons rotate when clicked */
.faq-card:nth-of-type(1)>.faq-card-title>img,
.faq-card:nth-of-type(2)>.faq-card-title>img {
    rotate: 180deg;
}

/* When not selected, cards'll be hidden like this */
.faq-card:nth-of-type(3)>.faq-card-info {
    display: none;
}

.faq-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

/*** FEATURE SECTION ***/

.feature-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 3rem 2.5rem;
    background-color: #F7F5F3;
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.feature-content>h2 {
    color: #2A5B45;
    font-weight: 500;
    font-size: 1.5rem;
}

.feature-content>p {
    color: #111827;
    font-weight: 400;
    font-size: 14px;
}

.feature-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: #000000;
    font-weight: 600;
    font-size: 14px;
}

.feature-img-container {
    width: 70%;
    max-width: 588px;
}

.feature-img-container>img {
    width: 100%;
    border-radius: 20px;
}

/*** CONTACT SECTION ***/

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: #E3DED7;
    padding: 0rem 2.5rem;
}

.contact-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    width: 100%;
}

/** Contact info **/

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
}

.contact-content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
}

.contact-content-header>h3 {
    color: #111827;
    font-weight: 600;
    font-size: 1.2rem;
}

.contact-content-header>p,
.contact-content-info>p,
.contact-content-info>div>p,
.contact-content-info>div>div>span {
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
}

.contact-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
}

.contact-details>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

.contact-content-info>p>a {
    color: #111827;
    font-weight: 600;
}

/** Form **/

.contact-form {
    width: 50%;
    padding: 2rem 3rem;

    background-color: #fff;
}

.contact-form>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0rem 1rem;
}

.contact-form>form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;

    width: 100%;
}

.contact-form>form>div:nth-of-type(4) {
    flex-direction: row;
}

.contact-form>form>div:nth-of-type(4) {
    margin-top: 1rem;
}

.contact-form>form>div:nth-of-type(5) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contact-form>form>div>label {
    color: #374151;
    font-weight: 400;
    font-size: 0.75rem;
}

.contact-form>form>div>input,
.contact-form>form>div>textarea {
    width: 100%;
    padding: 13px 17px;
    color: #6B7280;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    outline: none;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 14px;
}
.contact-form>form>div>textarea {
    height: 122px;;
}

.contact-form>form>div>input {
    height: 34px;
}

.contact-form>form>div>input:hover,
.contact-form>form>div>textarea:hover {
    border: 1px solid #9B9EA3;
}

.contact-form>form>div>input:focus,
.contact-form>form>div>textarea:focus {
    border: 2px solid #3F8F6B;
}

.contact-form>form>div:nth-of-type(5)>input {
    width: 1rem;
    height: 1rem;

    border: 1px solid #D1D5DB;
    outline: none;
}

.contact-form>form>div:nth-of-type(5)>input:hover {
    border: 1px solid #9B9EA3;
}

.contact-form>form>div:nth-of-type(5)>label {
    margin-left: 12px;
    color: #374151;
    font-weight: 400;
    font-size: 14px;
}

.contact-form>form>div:nth-of-type(5)>label>a {
    color: #374151;
    font-weight: 600;
    font-size: 14px;
}

.contact-form>form>input[type="submit"] {
    padding: 0.75rem 1.5rem;
    background-color: #2A5B45;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 14px;
}

/*** FOOTER ***/

footer {
    position: relative;
    width: 100%;
    height: 310px;
    background-color: #1F1815;
    color: #fff;
}
.alt-footer {
    position: relative;
    width: 100%;
    height: 2.7rem;
}

.footer-container {
    position: absolute;
    width: 1200px;
    height: 204px;
    left: 40px;
    top: 28.61px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 47%;
}

.footer-contact-info>h3 {
    font-weight: 600;
    font-size: 18px;
}

.footer-contact-info>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 0.75rem 1.5rem;
    background-color: #515051;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    ;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8rem;
    width: 53%;
}

.footer-links-container>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-links-container>div>a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.copyright-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 0;
    background-color: #2B2A2B;
}

.copyright-container>p {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

/*** CART ***/

.cart-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    padding: 2.5rem;
    width: 100%;
}

.cart-section > h2 {
    color:#2A5B45;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}

.cart-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;

    width: 100%;
}

/** Product cart details **/

.products-table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;

    flex-grow: 8;
    padding: 0.5rem;
}

.products-table > h3 {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.cart-divider {
    width: 100%;
    height: 1px;
    background-color: #E3DED7;
}

.cart-product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.quantity-controls > .quantity {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    background-color: rgba(42, 91, 69, 0.1);
    color: #2A5B45;
    border-radius: 50%;
    font-weight: 400;
    font-size: 12px;
}

.cart-product-card > .product-info {
    width: 70%;
}
.cart-product-card > .product-info > p:nth-of-type(1) {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}
.cart-product-card > .product-info > p:nth-of-type(2) {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}
.cart-product-card > p {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
}

form > .cart-shipping-option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

form > .cart-shipping-option > input {
    width: 1rem;
    height: 1rem;
    accent-color: #2A5B45;
}
form > .cart-shipping-option > label {
    width: 85%;
}
form > .cart-shipping-option > label > p:first-child {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}
form > .cart-shipping-option > label > p:last-child {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}
form > .cart-shipping-option > p {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

/** Total details **/

.total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

    flex-grow: 1;
    padding: 1.5rem;
    background-color: #F7F5F3;
}

.total-container > h3 {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}

.subtotal-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.subtotal-details,
.shipping-details,
.total-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.subtotal-details > p:first-child,
.shipping-details >p:first-child,
.total-details-container > p:first-child {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}
.subtotal-details > p:last-child,
.shipping-details > p:last-child,
.total-details-container > .total-price > p:first-child {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}
.total-details-container > .total-price > p:last-child {
    color: #515051;
    font-weight: 400;
    font-size: 12px;
}

.total-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.total-btns > button:first-child {
    padding: 0.75rem 1.5rem;
    background-color: #2A5B45;
    border: none;
    border-radius: 4px;

    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.total-btns > button:last-child {
    padding: 0.75rem 1.5rem;
    background-color: #F7F5F3;
    border: none;
    border-radius: 4px;

    color: #2A5B45;
    font-weight: 600;
    font-size: 14px;
}